@import url('https://fonts.googleapis.com/css2?family=Alegreya');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:ital,wght@0,400;0,700;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:ital,wght@0,400;0,700;1,200;1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('nav.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    font-weight: initial;
}

header {
  background-color: rgb(255, 217, 1);
    background-size:contain;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1.welcome {
    display:flex;
    font-family: Alegreya;
    font-size: 2.2rem;
    width: 100%;
    align-self: center;
    padding: 1em;
    text-align: center;
    color: #0000ff;
    margin-top: -1em;
}

h2.sub {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    font-weight: 500;
}

img.nean {
    width: 20em;
    height: 20em;
    display: block;
    margin: auto;
    padding: 0; 
}

.anotherContent {
  margin-top: 2em;
}
section#episodes {
    padding-top: 3%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6em;
    margin-bottom: 4em;

}

footer img {
    width: 20em;
    margin-top: -1em;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-footer {
    width: 26em;
    height: 6em;
}

/* CARDS */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a#read-more {
  text-decoration: none;
  display: flex;

}

.read {
  color: rgb(119, 119, 119);
}
.read:hover {
  color: #0000ff;
}

.bi {
  color: #0000ff;
  font-size: 1.5rem;
}

.dot-arrow {
  display: none;
  transform: translateY(-0.3em);
}

.bi-arrow-right-short {
  margin-left: -0.6em;
}

@media (max-width: 1140px) {
    h2 {
        padding:0
    }

    img.nean {
        width: 18em;
        height: 18em;
    }
}

@media screen and (max-width: 850px) {
    header {
        padding: 0;
    }

    img {
        width: 100px;
   
    }

    .welcome {
      width: 40%;
      padding: 2em;
    }
    
    h2 {
        padding: 1rem;
    }

    nav {
        padding: 20px;

    }
}

@media (max-width: 640px) {


      .welcome {
        padding-bottom: 0;
        margin-top: -2em;
        font-size: 1.8rem;
      }

      .sub{
        margin-left: 4em;
        padding-top: 0.5em ;
        margin-top: -1em;
        width: 70%;
      }

  }


@media (max-width: 425px) {
    header {
        align-items: center;
    }
    
    img.nean {
        width: 12em;
        height: 12em;
    }

    h1 {
        display: block;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-left: 0.1em;
        font-size: 1.4rem;
        width:100%
    }
    
    h2.sub {
        padding: 1.5em;
        font-family: PT Sans, sans-serif;
        font-size: 1rem;
        text-align: justify;
        bottom: 0;
    }

    nav {
        margin-top: 1em;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.nav {
        margin-top: -2em;
    }

    button {
        width: 7em;
        height: 3em;
        font-size: 0.7;
        margin-left: 4em;
    }

    #apps {
        transform: translateX(1em);
        margin-top: 0.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    a.listen-on {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(35, 35, 36, 0.678);
        color: rgb(240, 240, 240);
        border-radius: 0.8em;
        height: 1.5em;
        width: 8.5em;
    }

    footer h4 {
      margin-left: 1em;
    }
}

@media (max-width: 320px) {

}
