<nav>
    </div>
        <div id="apps">
            <a class="listen-on" type="button" href='https://open.spotify.com/episode/70OyOWFnivVtP2PiX1RUsS?si=40cca5f06b544244' target="_blank">
                <img class="app" src="/public/images/6-sf.svg" alt="">    
                </img><span class="name-app">Spotify</span></a>
            <a class="listen-on" type="button" href='https://podcasts.apple.com/us/podcast/cap%C3%ADtulo-1-o-crist%C3%A3o-e-o-among-us/id1539851443?i=1000500183108' target="_blank">
                <img class="app" src="/public/images/2-ap.svg" alt="">    
                </img><span class="name-app">Apple Podcasts</span></a>
            <a class="listen-on" type="button" href='https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zZjc5YTNkMC9wb2RjYXN0L3Jzcw/episode/ZDdkNzY0MTctYzkxNi00ZDk3LTlhODYtYTQzMDU0ZTAxYTlk?sa=X&ved=0CAUQkfYCahgKEwjYmOzqnaX7AhUAAAAAHQAAAAAQpgE' target="_blank">
                <img class="app" src="/public/images/7-gp.svg" alt="">    
                </img><span class="name-app">Google Podcasts</span></a>
            <a class="listen-on" type="button" href='https://deezer.page.link/2Zc61uXpkW7fFwVV7' target="_blank">
                <img class="app" src="/public/images/5-dz.svg" alt="">    
                </img><span class="name-app">Deezer</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/admiravel-cristao-novo/episodes/Captulo-1-O-Cristo-e-o-Among-Us-emsob1/a-a3u87rv' target="_blank">
                <img class="app" src="/public/images/4-ac.svg" alt="">    
                </img><span class="name-app">Anchor</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/s/3f79a3d0/podcast/rss' target="_blank">
                <img class="app" src="/public/images/3-fr.svg" alt="">    
                </img><span class="name-app">Feed RSS</span></a>
        </div>
</nav>