<nav>
    </div>
        <div id="apps">
            <a class="listen-on" type="button" href='https://open.spotify.com/episode/7kfDAXKvwUcvNMwByf5XFq?si=302802c4425c4b09' target="_blank">
                <img class="app" src="/public/images/6-sf.svg" alt="">    
                </img><span class="name-app">Spotify</span></a>
            <a class="listen-on" type="button" href='https://podcasts.apple.com/us/podcast/cap%C3%ADtulo-2-quando-a-zoeira-n%C3%A3o-tem-fim-mas-deveria/id1539851443?i=1000538278812' target="_blank">
                <img class="app" src="/public/images/2-ap.svg" alt="">    
                </img><span class="name-app">Apple Podcasts</span></a>
            <a class="listen-on" type="button" href='https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zZjc5YTNkMC9wb2RjYXN0L3Jzcw/episode/NTY4NjI3MWQtNmRhMC00N2UwLTkzOTctMGFiMTlmNDg5NGNh?sa=X&ved=0CAUQkfYCahcKEwig58qo38D7AhUAAAAAHQAAAAAQBA' target="_blank">
                <img class="app" src="/public/images/7-gp.svg" alt="">    
                </img><span class="name-app">Google Podcasts</span></a>
            <a class="listen-on" type="button" href='https://deezer.page.link/v6BKb8DPFkaXihmy6' target="_blank">
                <img class="app" src="/public/images/5-dz.svg" alt="">    
                </img><span class="name-app">Deezer</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/admiravel-cristao-novo/episodes/Captulo-2-Quando-a-Zoeira-No-Tem-Fim----Mas-Deveria-e18lav0/a-a6me9dr' target="_blank">
                <img class="app" src="/public/images/4-ac.svg" alt="">    
                </img><span class="name-app">Anchor</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/s/3f79a3d0/podcast/rss' target="_blank">
                <img class="app" src="/public/images/3-fr.svg" alt="">    
                </img><span class="name-app">Feed RSS</span></a>
        </div>
</nav>