<nav>
    </div>
        <div id="apps">
            <a class="listen-on" type="button" href='https://open.spotify.com/episode/0LdW37v5n2p5c1JSFqNaQi?si=ffLaLzRASW2GhS_TQtCpTg' target="_blank">
                <img class="app" src="/public/images/6-sf.svg" alt="">    
                </img><span class="name-app">Spotify</span></a>
            <a class="listen-on" type="button" href='https://podcasts.apple.com/us/podcast/cap%C3%ADtulo-3-a-sociedade-secreta-do-jejum/id1539851443?i=1000543085099' target="_blank">
                <img class="app" src="/public/images/2-ap.svg" alt="">    
                </img><span class="name-app">Apple Podcasts</span></a>
            <a class="listen-on" type="button" href='https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zZjc5YTNkMC9wb2RjYXN0L3Jzcw/episode/ZWRhNzIxNTgtYjMxMC00ZGRmLWI2NWQtOWI3NGQxMDVlYTM3?sa=X&ved=0CAUQkfYCahcKEwjozYf15MD7AhUAAAAAHQAAAAAQBA' target="_blank">
                <img class="app" src="/public/images/7-gp.svg" alt="">    
                </img><span class="name-app">Google Podcasts</span></a>
            <a class="listen-on" type="button" href='https://deezer.page.link/YzWtV2ZX179FqvG97' target="_blank">
                <img class="app" src="/public/images/5-dz.svg" alt="">    
                </img><span class="name-app">Deezer</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/admiravel-cristao-novo/episodes/Captulo-3-A-Sociedade-Secreta-do-Jejum-e1aqjph/a-a6vl89j' target="_blank">
                <img class="app" src="/public/images/4-ac.svg" alt="">    
                </img><span class="name-app">Anchor</span></a>
            <a class="listen-on" type="button" href='https://anchor.fm/s/3f79a3d0/podcast/rss' target="_blank">
                <img class="app" src="/public/images/3-fr.svg" alt="">    
                </img><span class="name-app">Feed RSS</span></a>
        </div>
</nav>